*, *:before, *:after {
	box-sizing: content-box;
}
html {
	height: 100%;
}
body {
	font: 300 14px/18px 'Roboto', sans-serif;

	height: 100%;

	color: #323a45;
}
a {
	text-decoration: none;

	color: $b-color;
	&:hover {
		color: #f79d15;
	}
}
.wrapper {
	width: 100%;
	min-width: 320px;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.container {
	overflow: hidden;

	width: 960px;
	margin: 0 auto;
	padding: 0 12px;
}
.strong {
	font-weight: 400;
}
.gNotify {
	position: absolute;
	top: 44px;
	left: 0;

	display: none;

	width: 100%;
	padding: 24px 12px;

	color: #fff;
	background-color: #f00;
}
.noJs-notify {
	margin: 0;
}
.noJs .gNotify {
	display: block;
}
