/* Footer
-----------------------------------------------------------------------------*/
.footer {
	position: relative;

	min-width: 320px;
	height: 46px;
	margin: -46px auto 0;

	background: #e8eef4;
	p {
		margin: 0;
		padding: 14px 0;
	}
}
