@media screen and (min-width: 760px) {
	.h-nav {
		display: inline-block!important;
	}
}
@media screen and (max-width: 1000px) {
	.container {
		width: 720px;
	}

	.mSlider .comment {
		margin: 0 0 0 -332px;
	}

	.benefits .wrapp {
		display: block;
		.item {
			display: block;

			width: 100%;
			margin: 0 0 96px;
		}
	}
	.rangeBox .ranges {
		.label {
			display: block;

			width: auto;
			margin: 0 0 6px;
		}
		.row {
			height: auto;
		}
		.input {
			width: 356px;
		}
	}
}



@media screen and (max-width: 760px) {
	.container {
		position: relative;

		overflow: visible;

		width: 520px;
	}
	.mSlider .comment {
		margin: 0 0 0 -246px;
		.msg {
			width: 480px;
		}
	}
	.benefits {
		padding-bottom: 0;
	}
	.promo .wrapp {
		display: block;
		.p-item {
			display: block;

			width: 100%;
			margin: 0 0 60px;

			border: 0 none;
			h2 {
				margin: 0 0 36px;
			}
			&.reklam {
				padding: 48px 0 0;

				border-top: 1px solid #eaeaeb;
			}
		}
		.box {
			padding: 0;
		}
		.item {
			padding: 0;
		}
	}

	.slick-prev, .slick-next {
		display: none!important;
	}
	.h-nav {
		position: absolute;
		z-index: 1;
		top: 44px;
		right: 0;

		width: 320px;
		padding: 0;

		background-color: #e8eef4;
	}
	.h-nav-icon {
		visibility: visible;
	}
	.h-nav {
		display: none;

		width: 100%;
		a {
			display: block;

			margin: 12px;

			text-align: center;
		}
	}

	.rangeBox {
		.heading {
			font-size: 30px;
		}
		.box {
			margin: 0;
		}
		.calc {
			display: block;
			.ranges {
				display: block;

				margin: 0 0 24px;
				.input {
					width: calc(100% - 56px);
				}
			}
			.submit {
				display: block;

				width: auto;

				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 560px) {
	.container {
		width: 300px;
		padding: 0 6px;
	}
	.mSlider .comment {
		margin: 0 0 0 -150px;
		.author {
			font-size: 12px;
		}
		.msg {
			font-size: 16px;

			width: 300px;
		}
	}
}
